
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-NGH {
  width: 100%;
  height: 460.634rem;

  .divframer-72rtr7-8uf {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f9f7f3;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .divframer-18uhwix-5rq {
      vertical-align: top;
      flex-shrink: 0;
      width: 192rem;
      height: 108rem;
      position: relative;
      object-fit: contain;
    }
    .divframer-1816yvj-xQq {
      height: 56.316rem;
      overflow: hidden;
      position: relative;
      background-color: #f9f7f3;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 10rem 46rem;
      width: 100%;

      .divframer-1r0zx4i-3BP {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;

        .divframer-1059rjc-9ER {
          box-sizing: border-box;
          padding-bottom: 0.097rem;
          width: 60rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 10rem;

          .unmasking-plastic-perils-Rxd {
            margin-bottom: 3.919rem;
            max-width: 43rem;
            display: flex;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1.1999999682;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .ever-imagine-we-could-drown-in-plastic-our-overindulgence-in-plastic-products-is-slowly-engulfing-the-planet-leaving-no-stone-unturned-brace-yourselvesits-time-to-embrace-the-responsibility-of-reducing-plastic-waste-gQh {
            max-width: 58.6rem;
            display: flex;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2999999523;
            letter-spacing: -0.16rem;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
          }
        }
        .divframer-1760uv3-container-zJu {
          flex-shrink: 0;
          width: 30rem;
          height: 30rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .divframer-o7e9cz-VmT {
      position: relative;
      align-items: center;
      background-color: #f9f7f3;
      box-sizing: border-box;
      padding: 10rem 46rem;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-2-the-plastic-nightmare-dcm {
        font-size: 4.8rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        line-height: 1.1999999682;
        white-space: nowrap;
        margin: 0rem 49.9rem 5.959rem 0rem;
      }
      .divframer-sixtn-Gvd {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-xyht-RHj {
          height: 50rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;

          .divframer-ofl2yy-XLm {
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 4rem;
            flex-shrink: 0;
            margin-right: 2rem;

            .eb94khvqun3u7wormhplorigdbwjpg-5NH {
              width: 49rem;
              height: 50rem;
              position: relative;
              background-size: 100% 146.928%;
              background-image: url('REPLACE_IMAGE:8e2195222bfeb34a8ec00258571a8ea8ac612456');
              border-radius: 4rem;
            }
          }
          .divframer-qrj56u-Ymf {
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 4rem;
            flex-shrink: 0;

            .wi2mn9xx8uy0hw60abfxwvijzajpg-WiV {
              height: 50rem;
              position: relative;
              background-size: 100% 174.222%;
              background-position: 0 -18.5556rem;
              background-image: url('REPLACE_IMAGE:70259d42b5d09d548d563aa93119089e8aeb823f');
              border-radius: 4rem;
              width: 49rem;
            }
          }
        }
        .auto-group-wgsm-PXP {
          width: 100%;
          height: 50rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .divframer-iphf99-wJ1 {
            margin-right: 2rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 4rem;
            flex-shrink: 0;

            .bokh2jnu09ot0mw2uidpsmoa4jpg-h2H {
              width: 49rem;
              height: 50rem;
              position: relative;
              background-size: 153.211% 100%;
              background-image: url('REPLACE_IMAGE:13f8ffc37e4f7cd4731ccbc5bc060ca23a056f01');
              border-radius: 4rem;
            }
          }
          .divframer-1gvcgxi-By3 {
            height: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 4rem;
            flex-shrink: 0;

            .fofknwygh8cfn5di5tyfr22kjpg-jjf {
              background-size: 153.211% 100%;
              background-image: url('REPLACE_IMAGE:8e2ab628acc3c40aff73f2c473f8fecc0f36a25b');
              border-radius: 4rem;
              width: 49rem;
              height: 50rem;
              position: relative;
            }
          }
        }
      }
    }
    .divframer-1r1w4uy-cYZ {
      background-color: #f9f7f3;
      padding: 10rem 51.4rem 10rem 46rem;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      overflow: hidden;
      align-items: center;
      flex-shrink: 0;

      .heading-2-plastic-queries-unraveled-XvR {
        font-weight: 400;
        line-height: 1.1999999682;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 36.4rem 9.959rem 0rem;
        display: flex;
        font-size: 4.8rem;
        color: #000000;
      }
      .divframer-1q8t9l3-26V {
        flex-shrink: 0;
        margin-bottom: 10rem;
        width: 100%;
        height: 11.2rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;

        .divframer-1mxj24x-koB {
          margin-right: 18.4rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .heading-2-how-grave-is-our-plastic-situation-H2R {
            font-weight: 400;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            display: flex;
            font-size: 2rem;
            line-height: 1.5;
            letter-spacing: -0.05rem;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1rem;
          }
          .its-disastrousthe-amount-of-plastic-thrown-away-would-circle-the-globe-4-times-shocked-so-are-we-A6D {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 36.6rem;
          }
        }
        .divframer-dkznyp-ous {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          flex-direction: column;

          .heading-2-whats-the-fuss-about-single-use-plastic-Zu3 {
            display: flex;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: -0.05rem;
            color: #000000;
            margin-bottom: 1rem;
            line-height: 1.5;
            font-family: Old Standard TT, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .single-use-plastic-items-are-public-enemy-number-onea-fleeting-convenience-causing-centuries-of-environmental-havoc-G2m {
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 39.6rem;
          }
        }
      }
      .divframer-f91l8i-L2d {
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.2rem;
        width: calc(100% - 3.2rem);
        height: 11.2rem;
        overflow: hidden;

        .divframer-xj9qo5-FvH {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 17.1rem;
          height: 100%;
          display: flex;

          .heading-2-how-can-i-contribute-to-reducing-waste-bz9 {
            line-height: 1.5;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1rem;
            display: flex;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: -0.05rem;
          }
          .join-the-eco-rebellion-switch-from-single-use-items-to-reusable-alternatives-and-spread-the-word-to-induce-change-i3B {
            max-width: 37.9rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .divframer-trcyb-CDF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;

          .heading-2-are-there-consequences-of-not-taking-action-kkZ {
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.05rem;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            font-size: 2rem;
            white-space: nowrap;
            display: flex;
          }
          .forget-about-that-grim-future-our-collective-actions-today-will-dictate-the-well-being-of-our-planet-for-generations-to-come-4WM {
            line-height: 1.5;
            color: #000000;
            font-family: Old Standard TT, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 36.4rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
    .divframer-wfpr43-KSH {
      position: relative;
      background-color: #f9f7f3;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 10rem 46rem;
      width: 100%;
      height: 60rem;
      overflow: hidden;

      .divframer-1nc19m8-48y {
        column-gap: 2rem;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;

        .divframer-1niv6of-zYR {
          box-sizing: border-box;
          padding: 4rem;
          background-color: #f1ece2;
          flex-shrink: 0;
          width: 32rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          border-radius: 2rem;

          .divframer-mzmq83-vws {
            margin-bottom: 3.5rem;
            width: 5.5rem;
            height: 5.5rem;
            position: relative;
            border-radius: 10rem;

            .rmglvpkneaiprql0k56temaynmjpeg-Gkq {
              background-image: url('REPLACE_IMAGE:d5cffe13f076b9324550388f2decfb927f04228a');
              border-radius: 10rem;
              width: 5rem;
              height: 5rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 209.836%;
            }
            .div-mBo {
              left: 3.5rem;
              top: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              width: 2rem;
              height: 2rem;
              position: absolute;
            }
          }
          .divframer-18w3sf4-5TP {
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 0.1rem;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .ever-since-ive-been-conscious-about-my-plastic-consumption-i-feel-like-im-contributing-to-a-greater-cause-1bw {
              display: flex;
              font-weight: 400;
              letter-spacing: -0.05rem;
              color: #000000;
              flex-shrink: 0;
              margin-bottom: 5.8rem;
              max-width: 22.5rem;
              font-size: 2rem;
              line-height: 1.5;
              font-family: Old Standard TT, 'Source Sans Pro';
            }
            .vijay-sai-raj-r-t9w {
              align-items: center;
              font-weight: 400;
              color: #000000;
              font-family: Old Standard TT, 'Source Sans Pro';
              width: 100%;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
        .divframer-1tzv55n-Buj {
          box-sizing: border-box;
          padding: 4rem;
          height: 100%;
          overflow: hidden;
          border-radius: 2rem;
          flex-shrink: 0;
          width: 32rem;
          position: relative;
          background-color: #f1ece2;

          .divframer-1mxmmd1-iuf {
            position: relative;
            border-radius: 10rem;
            margin-bottom: 3.5rem;
            width: 5.5rem;
            height: 5.5rem;

            .rmglvpkneaiprql0k56temaynmjpeg-U89 {
              background-image: url('REPLACE_IMAGE:d5cffe13f076b9324550388f2decfb927f04228a');
              border-radius: 10rem;
              width: 5rem;
              height: 5rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 209.836%;
            }
            .div-BHT {
              width: 2rem;
              height: 2rem;
              position: absolute;
              left: 3.5rem;
              top: 3.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .divframer-1fgkmgs-Jss {
            box-sizing: border-box;
            padding-bottom: 0.1rem;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;

            .reusable-items-have-not-only-reduced-waste-but-also-saved-me-money-in-the-long-run-dv9 {
              font-weight: 400;
              font-family: Old Standard TT, 'Source Sans Pro';
              letter-spacing: -0.05rem;
              color: #000000;
              flex-shrink: 0;
              margin-bottom: 11.8rem;
              max-width: 24.1rem;
              display: flex;
              font-size: 2rem;
              line-height: 1.5;
            }
            .vijay-sai-raj-r-uMs {
              width: 100%;
              align-items: center;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Old Standard TT, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .divframer-xml29c-1fo {
          background-color: #f1ece2;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 4rem;
          overflow: hidden;
          height: 100%;
          position: relative;
          box-sizing: border-box;
          width: 32rem;

          .divframer-1tm7upi-Lxy {
            margin-bottom: 3.5rem;
            width: 5.5rem;
            height: 5.5rem;
            position: relative;
            border-radius: 10rem;

            .ptyvonqfnoiluzzalpueeidujpg-5vZ {
              width: 5rem;
              height: 5rem;
              position: relative;
              left: 0;
              top: 0;
              background-size: 100% 150.147%;
              background-image: url('REPLACE_IMAGE:7cbc3adfc5f4f6cd55e22b532b4c22822613a79c');
              border-radius: 10rem;
            }
            .div-Byb {
              position: absolute;
              left: 3.5rem;
              top: 3.5rem;
              object-fit: contain;
              vertical-align: top;
              width: 2rem;
              height: 2rem;
            }
          }
          .divframer-l420yj-889 {
            box-sizing: border-box;
            padding-bottom: 0.1rem;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;

            .spreading-awareness-has-motivated-my-friends-and-family-to-join-me-in-the-fight-against-plastic-waste-ftm {
              max-width: 23.5rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Old Standard TT, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 8.8rem;
              display: flex;
              letter-spacing: -0.05rem;
            }
            .vijay-sai-raj-r-wbP {
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-size: 1.4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: Old Standard TT, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 100%;
            }
          }
        }
      }
    }
    .divframer-1fva9me-So3 {
      width: 100%;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      background-color: #f9f7f3;
      box-sizing: border-box;
      padding: 10rem 78.858rem 10rem 78.742rem;
      flex-shrink: 0;
      align-items: center;
      display: flex;

      .divframer-1rxgg57-container-y2H {
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 4rem 0.116rem;
      }
      .divframer-ds4uio-5r1 {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Old Standard TT, 'Source Sans Pro';
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        width: 100%;
        height: 2.4rem;
        font-size: 1.6rem;
        flex-shrink: 0;
      }
    }
  }
}
