
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-NGH {
  width: 100%;
  height: 460.634rem;
}
.frame-1-NGH .divframer-72rtr7-8uf {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9f7f3;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-18uhwix-5rq {
  width: 192rem;
  height: 108rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq {
  box-sizing: border-box;
  padding: 10rem 46rem;
  width: 100%;
  height: 56.316rem;
  overflow: hidden;
  position: relative;
  background-color: #f9f7f3;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq .divframer-1r0zx4i-3BP {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq .divframer-1r0zx4i-3BP .divframer-1059rjc-9ER {
  margin-right: 10rem;
  box-sizing: border-box;
  padding-bottom: 0.097rem;
  width: 60rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq .divframer-1r0zx4i-3BP .divframer-1059rjc-9ER .unmasking-plastic-perils-Rxd {
  margin-bottom: 3.919rem;
  max-width: 43rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1999999682;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq .divframer-1r0zx4i-3BP .divframer-1059rjc-9ER .ever-imagine-we-could-drown-in-plastic-our-overindulgence-in-plastic-products-is-slowly-engulfing-the-planet-leaving-no-stone-unturned-brace-yourselvesits-time-to-embrace-the-responsibility-of-reducing-plastic-waste-gQh {
  max-width: 58.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2999999523;
  letter-spacing: -0.16rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1816yvj-xQq .divframer-1r0zx4i-3BP .divframer-1760uv3-container-zJu {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT {
  box-sizing: border-box;
  padding: 10rem 46rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9f7f3;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .heading-2-the-plastic-nightmare-dcm {
  margin: 0rem 49.9rem 5.959rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1999999682;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-xyht-RHj {
  margin-bottom: 2rem;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-xyht-RHj .divframer-ofl2yy-XLm {
  margin-right: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-xyht-RHj .divframer-ofl2yy-XLm .eb94khvqun3u7wormhplorigdbwjpg-5NH {
  width: 49rem;
  height: 50rem;
  position: relative;
  background-size: 100% 146.928%;
  background-image: url('../assets/eb94khvqun3u7wormhplorigdbwjpg.png');
  border-radius: 4rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-xyht-RHj .divframer-qrj56u-Ymf {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-xyht-RHj .divframer-qrj56u-Ymf .wi2mn9xx8uy0hw60abfxwvijzajpg-WiV {
  width: 49rem;
  height: 50rem;
  position: relative;
  background-size: 100% 174.222%;
  background-position: 0 -18.5556rem;
  background-image: url('../assets/wi2mn9xx8uy0hw60abfxwvijzajpg.png');
  border-radius: 4rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-wgsm-PXP {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-wgsm-PXP .divframer-iphf99-wJ1 {
  margin-right: 2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-wgsm-PXP .divframer-iphf99-wJ1 .bokh2jnu09ot0mw2uidpsmoa4jpg-h2H {
  width: 49rem;
  height: 50rem;
  position: relative;
  background-size: 153.211% 100%;
  background-image: url('../assets/bokh2jnu09ot0mw2uidpsmoa4jpg.png');
  border-radius: 4rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-wgsm-PXP .divframer-1gvcgxi-By3 {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-o7e9cz-VmT .divframer-sixtn-Gvd .auto-group-wgsm-PXP .divframer-1gvcgxi-By3 .fofknwygh8cfn5di5tyfr22kjpg-jjf {
  width: 49rem;
  height: 50rem;
  position: relative;
  background-size: 153.211% 100%;
  background-image: url('../assets/fofknwygh8cfn5di5tyfr22kjpg.png');
  border-radius: 4rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ {
  box-sizing: border-box;
  padding: 10rem 51.4rem 10rem 46rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9f7f3;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .heading-2-plastic-queries-unraveled-XvR {
  margin: 0rem 36.4rem 9.959rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1999999682;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V {
  margin-bottom: 10rem;
  width: 100%;
  height: 11.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-1mxj24x-koB {
  margin-right: 18.4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-1mxj24x-koB .heading-2-how-grave-is-our-plastic-situation-H2R {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-1mxj24x-koB .its-disastrousthe-amount-of-plastic-thrown-away-would-circle-the-globe-4-times-shocked-so-are-we-A6D {
  max-width: 36.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-dkznyp-ous {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-dkznyp-ous .heading-2-whats-the-fuss-about-single-use-plastic-Zu3 {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-1q8t9l3-26V .divframer-dkznyp-ous .single-use-plastic-items-are-public-enemy-number-onea-fleeting-convenience-causing-centuries-of-environmental-havoc-G2m {
  max-width: 39.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d {
  margin-right: 3.2rem;
  width: calc(100% - 3.2rem);
  height: 11.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-xj9qo5-FvH {
  margin-right: 17.1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-xj9qo5-FvH .heading-2-how-can-i-contribute-to-reducing-waste-bz9 {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-xj9qo5-FvH .join-the-eco-rebellion-switch-from-single-use-items-to-reusable-alternatives-and-spread-the-word-to-induce-change-i3B {
  max-width: 37.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-trcyb-CDF {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-trcyb-CDF .heading-2-are-there-consequences-of-not-taking-action-kkZ {
  margin-bottom: 1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1r1w4uy-cYZ .divframer-f91l8i-L2d .divframer-trcyb-CDF .forget-about-that-grim-future-our-collective-actions-today-will-dictate-the-well-being-of-our-planet-for-generations-to-come-4WM {
  max-width: 36.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH {
  box-sizing: border-box;
  padding: 10rem 46rem;
  width: 100%;
  height: 60rem;
  overflow: hidden;
  position: relative;
  background-color: #f9f7f3;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR {
  box-sizing: border-box;
  padding: 4rem;
  width: 32rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1ece2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-mzmq83-vws {
  margin-bottom: 3.5rem;
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-mzmq83-vws .rmglvpkneaiprql0k56temaynmjpeg-Gkq {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 209.836%;
  background-image: url('../assets/rmglvpkneaiprql0k56temaynmjpeg.png');
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-mzmq83-vws .div-mBo {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.5rem;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-18w3sf4-5TP {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-18w3sf4-5TP .ever-since-ive-been-conscious-about-my-plastic-consumption-i-feel-like-im-contributing-to-a-greater-cause-1bw {
  margin-bottom: 5.8rem;
  max-width: 22.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1niv6of-zYR .divframer-18w3sf4-5TP .vijay-sai-raj-r-t9w {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj {
  box-sizing: border-box;
  padding: 4rem;
  width: 32rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1ece2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1mxmmd1-iuf {
  margin-bottom: 3.5rem;
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1mxmmd1-iuf .rmglvpkneaiprql0k56temaynmjpeg-U89 {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 209.836%;
  background-image: url('../assets/rmglvpkneaiprql0k56temaynmjpeg-zAM.png');
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1mxmmd1-iuf .div-BHT {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.5rem;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1fgkmgs-Jss {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1fgkmgs-Jss .reusable-items-have-not-only-reduced-waste-but-also-saved-me-money-in-the-long-run-dv9 {
  margin-bottom: 11.8rem;
  max-width: 24.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-1tzv55n-Buj .divframer-1fgkmgs-Jss .vijay-sai-raj-r-uMs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo {
  box-sizing: border-box;
  padding: 4rem;
  width: 32rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f1ece2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-1tm7upi-Lxy {
  margin-bottom: 3.5rem;
  width: 5.5rem;
  height: 5.5rem;
  position: relative;
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-1tm7upi-Lxy .ptyvonqfnoiluzzalpueeidujpg-5vZ {
  width: 5rem;
  height: 5rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 150.147%;
  background-image: url('../assets/ptyvonqfnoiluzzalpueeidujpg.png');
  border-radius: 10rem;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-1tm7upi-Lxy .div-Byb {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.5rem;
  top: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-l420yj-889 {
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-l420yj-889 .spreading-awareness-has-motivated-my-friends-and-family-to-join-me-in-the-fight-against-plastic-waste-ftm {
  margin-bottom: 8.8rem;
  max-width: 23.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-wfpr43-KSH .divframer-1nc19m8-48y .divframer-xml29c-1fo .divframer-l420yj-889 .vijay-sai-raj-r-wbP {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1fva9me-So3 {
  box-sizing: border-box;
  padding: 10rem 78.858rem 10rem 78.742rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9f7f3;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1fva9me-So3 .divframer-1rxgg57-container-y2H {
  margin: 0rem 0rem 4rem 0.116rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-NGH .divframer-72rtr7-8uf .divframer-1fva9me-So3 .divframer-ds4uio-5r1 {
  width: 100%;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Old Standard TT, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
